/*------------------------------------------------------*
*-- CSS Drupal--------------*
*------------------------------------------------------*/

/*------------------------------------------------*
 *---  Provence Formation 2011 --*
 *------------------------------------------------*/
/*------- EFFETS VISUELS GENERIQUES--------------*/
.ombrage {
    border: 5px solid #fff;
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;
    }
.ombrage_bas {

    -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #555;
    }
.table_tr_ombrage_bas{
        -moz-box-shadow: 1px 2px 2px #aaa;
        -webkit-box-shadow: 1px 2px 2px #aaa;
        box-shadow: 1px 2px 2px #555;
    }
/**********STYLE POUR LES BLOCS*******************/

/**----HEADER---***/


/**----MIDDLE---***/
#middle-content p{
	
	padding: 3px;

}

.item-list ul li {
list-style-image:none;
list-style-position:none;
list-style-type:none;
margin:0 0 0.25em 1.5em;
padding:0;
}

.item-list ul{
	margin: 0;
	padding: 0;
	list-style-type:none;
}

/*style lien en savoir plus*/
li.node_read_more a{
color : red;
text-decoration: none;
text-align:left;
}
li.node_read_more a:hover{
text-decoration: underline;
}



/*---------------------------*/
/**----CONTENT TOP---***/
#content-header{
padding: 5px;
}
/**style du fil d'ariane**/
.breadcrumb {
color:#C0c0c0;
text-decoration:none;
}
.breadcrumb a{
color:#ADC821;
text-decoration:none;
}
.breadcrumb a:hover{
color:#000;
text-decoration:underline;
}
/**----CONTENT BOTTOM---***/
#content-top{}
.taxonomy{
text-align:right;
padding: 3px;
margin: 0px;
}
.taxonomy a{
color: #FF00FF;
text-decoration:none;
}
.taxonomy a:hover{
text-decoration:underline;
}
/*----page login------*/
#user-login{
margin: auto;
width: 450px;
padding:10px 0;
}
/**----COLONNE GAUCHE---***/
#left-content p{
	color:#000;

}
#left-content a{
	color:#666666;
	text-decoration:none;
}
#left-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#left-content li{
	margin:0;
	padding: 0;
	list-style:none;
}
/**----COLONNE DROITE---***/
#right-content p{
	color:#000;

}
#right-content a{
	color:#666666;
	text-decoration:none;
}
#right-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#right-content li{
	margin:0;
	padding: 0;
	list-style:none;
}
/**----FOOTER---***/
#footer a{
color: #9898a6;
text-decoration:none;
}
#footer a:hover{
color: #000000;
}

 /*------------------------------------------------------*
  *------------ CSS H  ----*
  *------------------------------------------------------*/
  
h1 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 20px;
}
  
h2 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 18px;
}
h2.title{
	margin: 5px;
	padding: 0;
	color:#000;
	font-size: 18px;
}
h2.title a{
	color:#EF1D1D;
}
h3 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 16px;
}
h4 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 14px;
}
h5 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 12px;
}
h6 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 10px;
}
/*----------------------------------------------------------
************  STYLES POUR LES LAYOUT **********************
------------------------------------------------------------*/

/*----------- STYLES POUR FICHE FORMATION ------------------*/
h1.titre_fiche{
    background: white url('../images/bg_coin_vierge.jpg') no-repeat top left;
    display: table-cell;
    height: auto;
    padding: 40px 0 10px 20px;
    color: #ADC821;
     width: 175px;
}

h1.titre_pole_tertiaire{
    background: white url('../images/bg_coin_fiche_tertiaire.jpg') no-repeat top left;
    display: table-cell;
    height: auto;
    padding: 40px 0 10px 20px;
    color: #ADC821;
     width: 175px;
}
h1.titre_pole_tertiaire a{
    text-decoration: none;
    color: #ADC821;
    padding: 0 0 0 40px;
}
h1.titre_pole_services{
    background: white url('../images/bg_coin_fiche_services.jpg') no-repeat top left;
    display: table-cell;
    height: auto;
    padding: 40px 0 10px 20px;
    color: #ADC821;
     width: 175px;
}
h1.titre_pole_services a{
    text-decoration: none;
    color: #ADC821;
    padding: 0 0 0 40px;
}
h1.titre_pole_arts{
    background: white url('../images/bg_coin_fiche_arts.jpg') no-repeat top left;
    display: table-cell;
    height: auto;
    padding: 40px 0 10px 20px;
    color: #ADC821;
     width: 175px;
}
h1.titre_pole_arts a{
    text-decoration: none;
    color: #ADC821;
    padding: 0 0 0 40px;
}
#diapo_fiche{
     /*background: white url('../images/bg_diapo_fiche.jpg') no-repeat top left;*/
     display: block;
     margin: 0 auto;
     padding: 0;
     width: 165px;
     height: auto;
     border: 2px solid #fff;
    -moz-box-shadow: #AAAAAA 0px 0px 5px ;
    -webkit-box-shadow: #AAAAAA 0px 0px 5px;
    box-shadow: #AAAAAA 0px 0px 5px;
}
#fiche_col_G2 h2{
    font-family: arista,Trebuchet MS, sans-serif;
    text-align: center;
    color: #01ABCF;
    font-size: 18px;
    margin: 0 0 10px;
}
#table_fiche_formation{
   margin: 0 auto;
    width: 190px;
    background: transparent url(../images/zebra-gros-clair.gif) repeat ;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#table_fiche_formation tbody{
    padding: 5px;
   
}
#table_fiche_formation tr{
    padding: 5px;
}
#table_fiche_formation td{
    padding: 5px;
}
#table_fiche_formation a{
    text-decoration: none;
    color: #1F1F1F;
    font-weight: bold;
    padding: 3px;
    display: list-item;
    list-style: square inside none;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#table_fiche_formation .filefield-icon {
display: none;
}
#table_fiche_formation a:hover{
    color: white;
    background: #ADC821;

}
#fiche_col_G2 h3.viewreference-title{
    font-size: 16px;
    color: #F39300;
}
#fiche_col_G3 h2{
    font-size: 18px;
    color: #F39300;
}
#fiche_col_G3 h3{
    font-size: 16px;
    color: #ACC624;
}
#fiche_col_G3 h4{
    font-size: 14px;
    color: #95127C;
}
#fiche_col_G3 h2 a{
    font-size: 18px;
    color: #F39300;
}
#fiche_col_G3 h3 a{
    font-size: 16px;
    color: #ACC624;
}
#fiche_col_G3 h4 a{
    font-size: 14px;
    color: #95127C;
}
#fiche_col_G3 h2 a:hover{
    font-size: 18px;
    color: #F39300;
}
#fiche_col_G3 h3 a:hover{
    font-size: 16px;
    color: #F39300;
}
#fiche_col_G3 h4 a:hover{
    font-size: 14px;
    color: #F39300;
}
#fiche_col_G3 p{
    color: #1F1F1F;
    padding: 5px;
}
#fiche_col_G3 p a{
   text-decoration: underline;
    color: #95127C;
}
#fiche_col_G3 p a:hover{
    background: #AEC821;
    color: white;
}
#fiche_col_G3 ul{
   padding: 5px;
}
/*----------- STYLES POUR PAGE POLE ------------------*/
h1.title-page-bloc{
    font-size: 24px;
    font-family: arista,Trebuchet MS, sans-serif;
    text-align: center;
    color: #911381;
    text-transform: uppercase;
    margin: 0 0 20px 0
}
h3.block-title{
    font-size: 18px;
    color: #AEC821;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}
#middle-content-pole .view-content h3{
    color: #95107D;
    text-decoration: none;
    padding: 2px;

}
#middle-content-pole .views-field-title {
   font-size: 14px;

}
#middle-content-pole .views-field-title a{
    color: #AEC821;
    text-decoration: none;
    padding: 2px;

}
#middle-content-pole .views-field-title a:hover{
    background: #AEC821;
    color: white;
}
#block-views-Formations_par_poles-block_1{
    width: auto; 
    background: white url('../images/bg_pole_tertiaire.jpg') no-repeat top left;
    display: block;
    padding: 60px 20px;

}
#block-views-Formations_par_poles-block_2{
    width: auto;
    background: white url('../images/bg_pole_services.jpg') no-repeat left -7px;
    display: block;
    padding: 60px 20px;

}
#block-views-Formations_par_poles-block_3{
    width: auto;
    background: white url('../images/bg_pole_arts.jpg') no-repeat top left;
    display: block;
    padding: 60px 20px;

}
/*TABLE PAGE FORMATION PAR POLES*/
.table_bloc_form_pole{
    width: 98%;
}

.table_bloc_form_pole td{
    margin: 2px 0;
    padding: 4px 0;
    border-bottom: 1px solid #94127F;
}
/*--------------------*/
/*POLE SERVICE LISTE*/
#liste_formation_pole_services, #liste_formation_pole_tertiaire, #liste_formation_pole_arts{
    background: white url('../images/bg_coin_vierge.jpg') no-repeat top left;
    margin: 0 auto;
    padding: 20px 0;
    width: 980px;
}
#liste_formation_pole_services h3,#liste_formation_pole_tertiaire h3, #liste_formation_pole_arts h3 {
    color: #AEC821;
    margin: 0 auto;
    text-align: center;
}
#liste_formation_pole_services .view, #liste_formation_pole_tertiaire view, #liste_formation_pole_arts view{
    width: 99%;
}
#liste_formation_pole_services .view-content, #liste_formation_pole_tertiaire view-content, #liste_formation_pole_arts view-content{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

#liste_formation_pole_services table,#liste_formation_pole_tertiaire table, #liste_formation_pole_arts table{
    margin: 0 auto;
    text-align: center;
}
#liste_formation_pole_services tbody, #liste_formation_pole_tertiaire tbody, #liste_formation_pole_arts tbody{
    margin: 0 auto;
    padding: 0;
}
#liste_formation_pole_services table tr, #liste_formation_pole_tertiaire tr, #liste_formation_pole_arts tr{
    padding: 0;
}
#liste_formation_pole_services table td, #liste_formation_pole_tertiaire td, #liste_formation_pole_arts td{
    padding: 0;
}
/*----------------------------------------
*****~~~~~~ PAGE LYCEE ~~~~~~~~~~~~*********
------------------------------------------*/
h1.titre_pl{
    font-size: 24px;
    color: #911381;
    line-height: 1.0em
}
h1.titre_pl a{}
h1.titre_pl a:hover{}
/*######-------- COLONNE G1 --------######*/
#pageLycee_col_G1 h2{}
#pageLycee_col_G1 h3{}
#pageLycee_col_G1 h4{}
#pageLycee_col_G1 p{}
#pageLycee_col_G1 ul{}
#pageLycee_col_G1 img{
     border: 5px solid #fff;
    -moz-box-shadow: #AAAAAA 0px 0px 5px ;
    -webkit-box-shadow: #AAAAAA 0px 0px 5px;
    box-shadow: #AAAAAA 0px 0px 5px;
}

#pageLycee_col_G1 a{}
#pageLycee_col_G1 a:hover{}

#pageLycee_col_G1 h2 a{}
#pageLycee_col_G1 h2 a:hover{}
#pageLycee_col_G1 h3 a{}
#pageLycee_col_G1 h3 a:hover{}
#pageLycee_col_G1 h4 a{}
#pageLycee_col_G1 h4 a:hover{}
/*######-------- COLONNE G2 --------######*/
#pageLycee_col_G2 h2{
    color: #ACC624;
    padding: 5px;
}
#pageLycee_col_G2 h3{
    color: #911381;
    padding: 5px;
}
#pageLycee_col_G2 h4{
    padding: 5px;
    color: #F29803;
}
#pageLycee_col_G2 p{
    padding: 5px;
}
#pageLycee_col_G2 ul{
    padding: 5px;
}
#pageLycee_col_G2 img{

}

#pageLycee_col_G2 a{}
#pageLycee_col_G2 a:hover{}

#pageLycee_col_G2 h2 a{}
#pageLycee_col_G2 h2 a:hover{}
#pageLycee_col_G2 h3 a{}
#pageLycee_col_G2 h3 a:hover{}
#pageLycee_col_G2 h4 a{}
#pageLycee_col_G2 h4 a:hover{}

/*######-------- COLONNE G3 --------######*/
#pageLycee_col_G3 h2{}
#pageLycee_col_G3 h3{}
#pageLycee_col_G3 h4{}
#pageLycee_col_G3 p{}
#pageLycee_col_G3 ul{}
#pageLycee_col_G3 img{

}

#pageLycee_col_G3 a{}
#pageLycee_col_G3 a:hover{}

#pageLycee_col_G3 h2 a{}
#pageLycee_col_G3 h2 a:hover{}
#pageLycee_col_G3 h3 a{}
#pageLycee_col_G3 h3 a:hover{}
#pageLycee_col_G3 h4 a{}
#pageLycee_col_G3 h4 a:hover{}

/*--------- LISTE VUE FICHIERS DOCS JOINTS (Colonne G3)--------*/
h3.titre_liste_doc{
    text-align: center;
    color: #AFC824;
    font-family: arista,Trebuchet MS, sans-serif;
    font-size: 2.0 em;
    margin: 5px;

}
#bloc_docs_utiles_plycee{
    width: 190px;
    margin: 0 auto;
}
.liste_docs_joints {
    width: 190px;
    margin: 0 auto;
     background: transparent url(../images/zebra-gros-clair.gif) repeat ;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 5px;
    list-style: none;
}
.liste_docs_joints div{
    margin: 5px 0;
}

.liste_docs_joints span{
    margin: 2px 0;
}

.liste_docs_joints  a{
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
    color:  #3F3F3F;
    background: white;
    
}
.liste_docs_joints a:hover{
    text-decoration: none;
    background: #AEC721;
    color: white;
    }
.liste_docs_joints .filefield-icon {
display: none;
}
/*------ LISTE VUE ACTU LYCEE (Colonne G3) ---------*/
#bloc-actu-lycee{
    width: 190px;
    margin: 0 auto;
}
.liste-actu-lycee ul{
    margin: 0 auto;
    width: 190px;
    background: transparent url(../images/zebra-gros-clair.gif) repeat ;
    -moz-border-radius: 5px;
    border-radius: 5px;
    list-style: none;
    padding: 5px;
}
#bloc-actu-lycee h3{
    color: #94127F ;
    font-family: arista,Trebuchet MS, sans-serif;
    font-size: 2.0 em;
    margin:5px;
    display: block;
    text-align: center;

}
.element-actu-lycee{
    width: 185px;
    margin: 2px 0;;
    


}
.element-actu-lycee a{
    color:  #3F3F3F;
    background: #EAE0EF;
    display: block;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
}
.element-actu-lycee a:hover{
    background: #AEC721;
    color: white;
}
/*----------------------------------------
*****~~~~~~ PAGE VDL  ~~~~~~~~~~~~*********
-----SORTIE-ACTION-EUROPE-PARTENAIRES-----
------------------------------------------*/
h1.titre_vdl_sortie{
    font-size: 24px;
    color: #AEC721;
}

#table_infos_plus{
    margin: 0 auto;
    width: 170px;
    background: transparent url('../images/bg_infos_plus_vdl.jpg') no-repeat left 25px;
}
#table_infos_plus h3{
   font-family: arista,Trebuchet MS, sans-serif;
   text-align: center;
   color: #01ABCF;
   font-size: 1.5em;
   margin: 5px 0;
}
#table_infos_plus tr{
    background: transparent url('//../images/sep_infos_plus_vdl.jpg') no-repeat bottom 20px;
    
}
#table_infos_plus td{
    padding: 3px 0 6px 10px;
}
#table_infos_plus hr{
    border-bottom: 1px solid #01ABCF;
    width: 120px;
    margin: 0 auto;
}

#table_infos_plus a{
    color: #01ABCF;
    text-decoration: none;
    text-align: center;
    }
#table_infos_plus a:hover{
    text-decoration: underline;
}
#table_infos_plus .filefield-icon {
display: none;
}
/*------- LISTE VDL SIMILAIRE ------------*/
#bloc-autres-vdl{}
#liste-vdl-similaires{
    width: 200px;
    margin: 0 auto;
     background: transparent url(../images/zebra-gros-clair.gif) repeat ;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#bloc-autres-vdl h3{
   font-family: arista,Trebuchet MS, sans-serif;
   text-align: center;
   color: #01ABCF;
   font-size: 1.5em;
   margin: 5px 0;
}
#liste-vdl-similaires ul{}
#liste-vdl-similaires li{}
#liste-vdl-similaires li a{
    background: #EFEFEF;
    display: block;
    color: #4F4F4F;
}
#liste-vdl-similaires li a:hover{
    background: #AEC721;
    color: white;
}
/*######-------- COLONNE G1 --------######*/
#pageSortieActions_col_G1 h2{}
#pageSortieActions_col_G1 h3{}
#pageSortieActions_col_G1 h4{}
#pageSortieActions_col_G1 p{}
#pageSortieActions_col_G1 ul{}
#pageSortieActions_col_G1 img{

}

#pageSortieActions_col_G1 a{}
#pageSortieActions_col_G1 a:hover{}

#pageSortieActions_col_G1 h2 a{}
#pageSortieActions_col_G1 h2 a:hover{}
#pageSortieActions_col_G1 h3 a{}
#pageSortieActions_col_G1 h3 a:hover{}
#pageSortieActions_col_G1 h4 a{}
#pageSortieActions_col_G1 h4 a:hover{}
/*######-------- COLONNE G2 --------######*/
#pageSortieActions_col_G2 h2{}
#pageSortieActions_col_G2 h3{}
#pageSortieActions_col_G2 h4{}
#pageSortieActions_col_G2 p{
    padding: 5px;
    color: 
}
#pageSortieActions_col_G2 ul{}
#pageSortieActions_col_G2 img{

}

#pageSortieActions_col_G2 a{}
#pageSortieActions_col_G2 a:hover{}

#pageSortieActions_col_G2 h2 a{}
#pageSortieActions_col_G2 h2 a:hover{}
#pageSortieActions_col_G2 h3 a{}
#pageSortieActions_col_G2 h3 a:hover{}
#pageSortieActions_col_G2 h4 a{}
#pageSortieActions_col_G2 h4 a:hover{}

/*######-------- COLONNE G3 --------######*/
#pageSortieActions_col_G3 h2{}
#pageSortieActions_col_G3 h3{}
#pageSortieActions_col_G3 h4{}
#pageSortieActions_col_G3 p{}
#pageSortieActions_col_G3 ul{}
#pageSortieActions_col_G3 img{

}

#pageSortieActions_col_G3 a{}
#pageSortieActions_col_G3 a:hover{}

#pageSortieActions_col_G3 h2 a{}
#pageSortieActions_col_G3 h2 a:hover{}
#pageSortieActions_col_G3 h3 a{}
#pageSortieActions_col_G3 h3 a:hover{}
#pageSortieActions_col_G3 h4 a{}
#pageSortieActions_col_G3 h4 a:hover{}

/*----------------------------------------
*****~~~~~~ PAGE VDL  ~~~~~~~~~~~~*********
-----LISTE DES VDL - TEMPLATE VUES - LAYOUT CSS-----
------------------------------------------*/
h1.titre_vdl{
    font-size: 24px;
    color: #AEC721;
    line-height: 1.0em;
}
/*######-------- COLONNE G1 --------######*/
#pageVdl_col_G1 h2{}
#pageVdl_col_G1 h3{}
#pageVdl_col_G1 h4{}
#pageVdl_col_G1 p{}
#pageVdl_col_G1 ul{}
#pageVdl_col_G1 img{

}

#pageVdl_col_G1 a{}
#pageVdl_col_G1 a:hover{}

#pageVdl_col_G1 h2 a{}
#pageVdl_col_G1 h2 a:hover{}
#pageVdl_col_G1 h3 a{}
#pageVdl_col_G1 h3 a:hover{}
#pageVdl_col_G1 h4 a{}
#pageVdl_col_G1 h4 a:hover{}
/*######-------- COLONNE G2 --------######*/
#pageVdl_col_G2 h2{}
#pageVdl_col_G2 h3{}
#pageVdl_col_G2 h4{}
#pageVdl_col_G2 p{
    padding: 5px;
    
}
#pageVdl_col_G2 ul{}
#pageVdl_col_G2 img{

}

#pageVdl_col_G2 a{}
#pageVdl_col_G2 a:hover{}

#pageVdl_col_G2 h2 a{}
#pageVdl_col_G2 h2 a:hover{}
#pageVdl_col_G2 h3 a{}
#pageVdl_col_G2 h3 a:hover{}
#pageVdl_col_G2 h4 a{}
#pageVdl_col_G2 h4 a:hover{}

/*######-------- COLONNE G3 --------######*/
#pageVdl_col_G3 h2{}
#pageVdl_col_G3 h3{}
#pageVdl_col_G3 h4{}
#pageVdl_col_G3 p{}
#pageVdl_col_G3 ul{}
#pageVdl_col_G3 img{

}

#pageVdl_col_G3 a{}
#pageVdl_col_G3 a:hover{}

#pageVdl_col_G3 h2 a{}
#pageVdl_col_G3 h2 a:hover{}
#pageVdl_col_G3 h3 a{}
#pageVdl_col_G3 h3 a:hover{}
#pageVdl_col_G3 h4 a{}
#pageVdl_col_G3 h4 a:hover{}

/*Table pour la vue filtre dyn sur tid*/
#table-bloc-vdl-liste{
    width: 550px;
    margin: 0 auto;
    border: 0;
}
#table-bloc-vdl-liste thead th{
    border-bottom: 3px solid #AEC81F;
}
#table-bloc-vdl-liste tbody{}
#table-bloc-vdl-liste tr{
    margin: 3px;
    

}
#table-bloc-vdl-liste td{
    background: white;
    border: 0;
    margin: 2px 0;
    padding: 5px;
    display: block;
    border-bottom: 1px solid #950F7E;
}
#table-bloc-vdl-liste td:hover{
    background: #AEC81F;
}
#table-bloc-vdl-liste p{}
#table-bloc-vdl-liste a{
    color: #950F7E;
    text-decoration: none;
    font-weight: bold;
}
#table-bloc-vdl-liste a:hover{
    text-decoration: underline;
    color: white;
}
#table-bloc-vdl-liste span.date-display-single{
    text-align: right;
    float: right;
    font-style: italic;
}
/*Bloc filtre exposé de view pour l'année - archives*/
#block-views--exp-liste_actu_lycee-block_1{
    width: 160px;
    margin: 0 auto;
    background: transparent url(../images/zebra-gros-clair.gif) repeat ;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 5px;
   
}
#block-views--exp-liste_actu_lycee-block_1 h3{
   font-family: arista,Trebuchet MS, sans-serif;
   text-align: center;
   color: #01ABCF;
   font-size: 1.5em;
   margin: 0;
}
#block-views--exp-liste_actu_lycee-block_1 select{
    margin: 0 auto;
}